<form name="changePwdFrm" class="form-container form-css" us-spinner spinner-key="cPassword-spinner" style="position: relative;" novalidate>
    <div class="form-group" ng-class="{ 'has-error': registerFrm.oldPasswordField.$dirty && registerFrm.oldPasswordField.$invalid }">
        <label for="oldPasswordField">Old Password</label>
        <input type="password" class="form-control" name="oldPasswordField" ng-model="user.OldPassword" required="" ng-minlength="7" ng-maxlength="15" />
        <div class="alert alert-danger" role="alert" ng-show="registerFrm.oldPasswordField.$touched && registerFrm.oldPasswordField.$invalid">
            <div ng-show="registerFrm.oldPasswordField.$error.required"><span class="sr-only">Error:</span>Password required</div>
            <div ng-show="registerFrm.oldPasswordField.$error.minlength"><span class="sr-only">Error:</span>Minimum 7 characters required</div>
            <div ng-show="registerFrm.oldPasswordField.$error.maxlength"><span class="sr-only">Error:</span>Maximum 15 characters</div>
        </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error': registerFrm.passwordField.$dirty && registerFrm.passwordField.$invalid }">
        <label for="passwordField">New Password</label>
        <input type="password" class="form-control" name="passwordField" ng-model="user.NewPassword" required="" ng-minlength="7" ng-maxlength="15" />
        <div class="alert alert-danger" role="alert" ng-show="registerFrm.passwordField.$touched && registerFrm.passwordField.$invalid">
            <div ng-show="registerFrm.passwordField.$error.required"><span class="sr-only">Error:</span>Password required</div>
            <div ng-show="registerFrm.passwordField.$error.minlength"><span class="sr-only">Error:</span>Minimum 7 characters required</div>
            <div ng-show="registerFrm.passwordField.$error.maxlength"><span class="sr-only">Error:</span>Maximum 15 characters</div>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': registerFrm.$submitted && registerFrm.confirmPassword.$touched }">
        <label for="confirmPasswordField">Confirm New Password</label>
        <input type="password" name="confirmPasswordField" class="form-control" ng-model="user.ConfirmPassword" required="" ui-validate=" '$value==user.Password' " ui-validate-watch=" 'user.Password' " ng-minlength="7" ng-maxlength="15" />
        <div class="alert alert-danger" role="alert" ng-show="registerFrm.confirmPasswordField.$touched && registerFrm.confirmPasswordField.$invalid">
            <div ng-show="registerFrm.confirmPasswordField.$error.required"><span class="sr-only">Error:</span>Password required</div>
            <div ng-show="registerFrm.confirmPasswordField.$error.minlength"><span class="sr-only">Error:</span>Minimum 7 characters required</div>
            <div ng-show="registerFrm.confirmPasswordField.$error.maxlength"><span class="sr-only">Error:</span>Maximum 15 characters</div>
            <div ng-show="!!registerFrm.confirmPasswordField.$error.validator"><span class="sr-only">Error:</span>Passwords don't match.</div>
        </div>
    </div>
       <div class="form-group">
        <input type="button" id="btnReset" class="btn btn-default" ng-click="reset(registerFrm)" value="Reset" />
        <input type="submit" id="btnSubmit" class="btn btn-default" ng-disabled="registerFrm.$invalid" ng-click="register(user, registerFrm)" value="Change Password" />
    </div>
</form>