<form name="registerFrm" class="form-container form-css" us-spinner spinner-key="register-spinner" style="position: relative;" novalidate>
    <div class="alert alert-danger" role="alert" ng-show="registrationFailed">
        <div><span class="sr-only">Error:</span>{{errorMessage}}</div>
    </div>
    <div class="form-group" ng-class="{'has-error': registerFrm.usernameField.$dirty && registerFrm.usernameField.$invalid}">
        <label for="userName">Username</label>
        <input type="text" class="form-control" name="usernameField" ng-model="user.UserName" placeholder="Username" ng-model-options="{updateOn: 'blur' }" required="" ui-validate="{userExists: ' usernameExists($value) ' }" ng-minlength="7" ng-maxlength="20" />
        <div class="alert alert-danger" role="alert" ng-show="registerFrm.usernameField.$touched && registerFrm.usernameField.$invalid">
            <div ng-show="registerFrm.usernameField.$error.required"><span class="sr-only">Error:</span> Username required</div>
            <div ng-show="registerFrm.usernameField.$error.userExists"><span class="sr-only">Error:</span> Username already exists</div>
            <div ng-show="registerFrm.usernameField.$error.minlength"><span class="sr-only">Error:</span> Minimum 7 characters</div>
            <div ng-show="registerFrm.usernameField.$error.maxlength"><span class="sr-only">Error:</span> Maximum 15 characters</div>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': registerFrm.emailField.$dirty && registerFrm.emailField.$invalid}">
        <label for="Email">Email</label>
        <input type="text" class="form-control" name="emailField" ng-model="user.Email" placeholder="Email" ng-model-options="{updateOn: 'blur' }" required="" ui-validate="{emailExists: ' userEmailExists($value) ' }" ng-minlength="2" ng-maxlength="100" />
        <div class="alert alert-danger" role="alert" ng-show="registerFrm.emailField.$touched && registerFrm.emailField.$invalid">
            <div ng-show="registerFrm.emailField.$error.required"><span class="sr-only">Error:</span> Email required</div>
            <div ng-show="registerFrm.emailField.$error.emailExists"><span class="sr-only">Error:</span> Email already exists</div>
            <div ng-show="registerFrm.emailField.$error.minlength"><span class="sr-only">Error:</span> Minimum 7 characters</div>
            <div ng-show="registerFrm.emailField.$error.maxlength"><span class="sr-only">Error:</span> Maximum 15 characters</div>

        </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error': registerFrm.passwordField.$dirty && registerFrm.passwordField.$invalid }">
        <label for="passwordField">Password</label>
        <input type="password" class="form-control" name="passwordField" ng-model="user.Password" required="" ng-minlength="7" ng-maxlength="15" />
        <div class="alert alert-danger" role="alert" ng-show="registerFrm.passwordField.$touched && registerFrm.passwordField.$invalid">
            <div ng-show="registerFrm.passwordField.$error.required"><span class="sr-only">Error:</span>Password required</div>
            <div ng-show="registerFrm.passwordField.$error.minlength"><span class="sr-only">Error:</span>Minimum 7 characters required</div>
            <div ng-show="registerFrm.passwordField.$error.maxlength"><span class="sr-only">Error:</span>Maximum 15 characters</div>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': registerFrm.$submitted && registerFrm.confirmPassword.$touched }">
        <label for="confirmPasswordField">Confirm Password</label>
        <input type="password" name="confirmPasswordField" class="form-control" ng-model="user.ConfirmPassword" required="" ui-validate=" '$value==user.Password' " ui-validate-watch=" 'user.Password' " ng-minlength="7" ng-maxlength="15" />
        <div class="alert alert-danger" role="alert" ng-show="registerFrm.confirmPasswordField.$touched && registerFrm.confirmPasswordField.$invalid">
            <div ng-show="registerFrm.confirmPasswordField.$error.required"><span class="sr-only">Error:</span>Password required</div>
            <div ng-show="registerFrm.confirmPasswordField.$error.minlength"><span class="sr-only">Error:</span>Minimum 7 characters required</div>
            <div ng-show="registerFrm.confirmPasswordField.$error.maxlength"><span class="sr-only">Error:</span>Maximum 15 characters</div>
            <div ng-show="!!registerFrm.confirmPasswordField.$error.validator"><span class="sr-only">Error:</span>Passwords don't match.</div>
        </div>
    </div>
    <div class="form-group">
        <input type="button" id="btnReset" class="btn btn-default" ng-click="reset(registerFrm)" value="Reset" />
        <input type="submit" id="btnSubmit" class="btn btn-default" ng-disabled="registerFrm.$invalid" ng-click="register(user, registerFrm)" value="Register" />
    </div>
</form>
