<form name="setPwdFrm" class="form-css" us-spinner spinner-key="setpassword-spinner" style="position: relative;" novalidate>
    <div ng-if="setPwdSuccess">
        <div class="alert alert-success" role="alert">
            Password changed successfully. You'll be redirected to login page in few seconds...
        </div>
    </div>
    <div ng-if="setPwdError">
        <div ng-repeat="errors in errorMessages">
            <div class="alert alert-danger" role="alert">
                {{errors}}
            </div>
        </div>
    </div>
    <div class="form-container form-css">
        <div class="form-group" ng-class="{ 'has-error': setPwdFrm.passwordField.$dirty && setPwdFrm.passwordField.$invalid }">
            <label for="passwordField">New Password</label>
            <input type="password" class="form-control" name="passwordField" ng-model="user.NewPassword" required="" ng-minlength="7" ng-maxlength="15" />
            <div class="alert alert-danger" role="alert" ng-show="setPwdFrm.passwordField.$touched && setPwdFrm.passwordField.$invalid">
                <div ng-show="setPwdFrm.passwordField.$error.required"><span class="sr-only">Error:</span>New password required</div>
                <div ng-show="setPwdFrm.passwordField.$error.minlength"><span class="sr-only">Error:</span>Minimum 7 characters required</div>
                <div ng-show="setPwdFrm.passwordField.$error.maxlength"><span class="sr-only">Error:</span>Maximum 15 characters</div>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error': setPwdFrm.confirmPasswordField.$dirty && setPwdFrm.confirmPasswordField.$invalid }">
            <label for="confirmPasswordField">Confirm New Password</label>
            <input type="password" name="confirmPasswordField" class="form-control" ng-model="user.ConfirmPassword" required="" ui-validate=" '$value==user.NewPassword' " ui-validate-watch=" 'user.NewPassword' " ng-minlength="7" ng-maxlength="15" />
            <div class="alert alert-danger" role="alert" ng-show="setPwdFrm.confirmPasswordField.$touched && setPwdFrm.confirmPasswordField.$invalid">
                <div ng-show="setPwdFrm.confirmPasswordField.$error.required"><span class="sr-only">Error:</span>Confirm password required</div>
                <div ng-show="setPwdFrm.confirmPasswordField.$error.minlength"><span class="sr-only">Error:</span>Minimum 7 characters required</div>
                <div ng-show="setPwdFrm.confirmPasswordField.$error.maxlength"><span class="sr-only">Error:</span>Maximum 15 characters</div>
                <div ng-show="!!setPwdFrm.confirmPasswordField.$error.validator"><span class="sr-only">Error:</span>Passwords don't match.</div>
            </div>
        </div>
        <div class="form-group">
            <input type="button" id="btnReset" class="btn btn-default" ng-click="reset(setPwdFrm)" value="Reset" />
            <input type="submit" id="btnSubmit" class="btn btn-default" ng-disabled="setPwdFrm.$invalid" ng-click="setUserPassword(user, setPwdFrm)" value="Change Password" />
        </div>
    </div>
</form>
