<div class="container">

    <div class="row cardContainer">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="alphabetMenuList">
                <ul>
                    <li ng-repeat="letter in letterList"><a href="javascript:void(null)" class="alphabetMenu btn btn-sm" ng-click="searchByLetter(letter)" ng-class="{'btn-primary': selectedLetter == letter, 'btn-default': selectedLetter != letter}">{{letter}}</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Search
                </div>
                <div class="search-container">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input class="form-control" type="text" name="name" ng-model="search.name" />
                    </div>
                    <div class="form-group">
                        <label for="phnNumber">Phone Number</label>
                        <input class="form-control" type="text" name="phnNumber" ng-model="search.phone" />
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input class="form-control" type="text" name="email" ng-model="search.email" />
                    </div>
                    <button class="btn btn-default" ng-click="searchContact(search)">
                        <span class="glyphicon glyphicon-search"></span>Search</button>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-8 col-lg-9">
            <div class="row contactContainer">
                <div class="col-sm-6 col-md-3 col-lg-4" ng-repeat="contact in pagedContactList">
                    <div class="card">
                        <button class="btn close cardClose" title="Delete Customer" data-ng-click="vm.deleteCustomer(customer.id)">&times;</button>
                        <div class="cardHeader"><a href="http://contactbook.com/Contactbook.webapi/api/ApiImages/GetImage?userName=axkhan2&fileName=Male1.png" class="white">{{contact.name}} <i class="icon-edit icon-white editIcon"></i></a></div>
                        <div class="cardBody">
                            <div class="clearfix">
                                <div class="pull-left cardBodyLeft">
                                    <a href="#/customeredit/{{customer.id}}" class="white">
                                        <img ng-src="http://contactbook.com/Contactbook.webapi/api/ApiImages/GetImage?userName=axkhan2&fileName=Male1.png" class="image-rounded cardImage" /></a>
                                </div>
                                <div class="pull-left cardBodyRight">
                                    <div class="cardBodyContent">{{contact.phone}}</div>
                                    <div class="cardBodyContent">{{contact.email}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12" ng-hide="totalItems <= 15">
                    <div pagination max-size="maxSize" total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" items-per-page="itemPerPage"></div>
                </div>
            </div>
        </div>
    </div>
</div>