<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity>
    <assembly name="ContactBook.Db" />
    <assembly name="ContactBook.Domain" />
    <namespace name="ContactBook.Db.Implementation" />
    <namespace name="ContactBook.Domain.Entities" />
    <namespace name="ContactBook.Domain.Repositories" />
    <containers>

      <container name="contactContainer">
        <!--<register type="IContactBookRepository[IEntity]" mapTo="ContactDbAddress">
          <param name="con" type="System.Data.Entity.DbContext" dependencyName="ContactEdm" />
        </register>-->
        <register type="ContactBookDbRepository[CB_Address]" mapTo="CB_Address" />
      </container>
    </containers>
  </unity>
</configuration>