<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="ContactBookEdmContainer" connectionString="metadata=res://*/Data.ContactBookEdm.csdl|res://*/Data.ContactBookEdm.ssdl|res://*/Data.ContactBookEdm.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=ContactBook;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ContactBookEdmContainerTestFile" connectionString="metadata=res://*/Data.ContactBookEdm.csdl|res://*/Data.ContactBookEdm.ssdl|res://*/Data.ContactBookEdm.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\TestDb\TestDb.mdf;Integrated Security=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ContactBookEdmContainerTestLocal" connectionString="metadata=res://*/Data.ContactBookEdm.csdl|res://*/Data.ContactBookEdm.ssdl|res://*/Data.ContactBookEdm.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data source=localhost;initial catalog=ContactBookTest;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <unity xmlns="http://schema.microsoft.com/practices/2010/unity">
    <assembly name="ContactBook.Db" />
    <assembly name="ContactBook.Domain" />
    <assembly name="EntityFramework" />

    <namespace name="System.Data.Entity" />
    <namespace name="System.Data.Entity.Infrastructure" />
    <namespace name="ContactBook.Db.Data" />
    <namespace name="ContactBook.Db.Repositories" />
    <containers>
      <container>
        <register type="ContactBookEdmContainer">
          <constructor>
            <param name="connectionName" value="ContactBookEdmContainerTestLocal">
            </param>
          </constructor>
        </register>
        <register type="IContactBookRepositoryUow" mapTo="ContactBookRepositoryUow">
          <constructor>
            <param name="container" dependencyType="ContactBookEdmContainer" />
          </constructor>
        </register>
      </container>
    </containers>
  </unity>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>